h1{
  text-align: center;
}
.jumbotron{
  color: #003333;
  background: linear-gradient(to bottom right, #009999 25%,  #006666 75%);
}
.jumbotron a{
  font-family: monospace;
}
.Grand-canyon{
  height: 500px;
  width: 350px;
  margin: 30px;
  border: 8px;
  border-color: #007399;
  border-style: outset;
}
.Morocco{
  height: 500px;
  width: 350px;
  margin: 30px;
  border: 8px;
  border-color: #007399;
  border-style: outset;
}
body{
  background: linear-gradient(to top left, #e6ffff 25%,  #99ccff 75%);
}
.panel-title{
  font-size: 20px;
}
.panel-body{
  font-size: 17px;
}
.panel-body a{
  text-decoration: underline;
}
.well{
  background: linear-gradient(to bottom right, #009999 25%,  #006666 75%);
}
.about{
  font-size: 15px;
  font-style: oblique;
}
a{color: #00b3b3;
  font-size: 17px;
}
